* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

@font-face {
    font-family: 'SFPRO';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('truetype');
  }

  @font-face {
    font-family: 'SFPROBOLD';
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('truetype');
  }
  
  @font-face {
    font-family: 'SFPROLIGHTITALIC';
    src: url('../fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('truetype');
  }

  @font-face {
    font-family: 'SFPROMEDIUM';
    src: url('../fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype');
  }

@font-face {
    font-family: "SFPRODISPLAYULTRALIGHTITALIC";
    src: url('../fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('truetype');
}

@font-face {
    font-family: "SFPRODISPLAYLIGHT";
    src: url('../fonts/SFPRODISPLAYLIGHT.ttf') format('truetype');
}

:root{
    --azul-texto: #1777d8;
    --preto-texto: #1d1d1f;
    --branco-fundo: #FBFBFD;

    --font-family: 'Source Sans Pro', sans-serif;
    --font-apple: 'SFPRO', sans-serif;
    --font-apple-bold: 'SFPROBOLD', sans-serif;
    --font-apple-light-italic: 'SFPROLIGHTITALIC', sans-serif;
    --font-apple-medium: 'SFPROMEDIUM', sans-serif;
    --font-apple-ultra-light-italic: 'SFPRODISPLAYULTRALIGHTITALIC', sans-serif;
    --font-apple-light: 'SFPRODISPLAYLIGHT', sans-serif;
    
}

@media (max-width: 800px) {
    .row{
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }
    .row > img{
        width: 30px;
    }
    #studio-display{
        width: 100vw;
        height: auto;
    }
    .row2{
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }
    .row3{
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }
    
  }



#nav{
    display: flex;
    justify-content: center;
    color: #c9c9c9;
    background-color: #1d1d1f;
    opacity: 95%;
    position: fixed;
    width: 100vw;
    z-index: 2;
    cursor: pointer;
    padding: 13px 10px 13px 10px;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#nav:hover{
    background-color: #0e0e0e;
    opacity: 90%;
}


#nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-list > ul{
    display: flex;
    list-style: none;
    align-items: center;


}

.item-nav{
    font-size: 0.79em;
    font-family: var(--font-apple-light);
    font-weight: 100;
    letter-spacing: -0.12px;
    list-style: none;
    margin: 0 25px 0 25px;
}

.item-nav:hover{
    color: white;
}

#img-nav{
    width: 20px;
    height: 20px;
    padding: 0 25px 0 25px;
}

.img-nav:hover{
    filter: drop-shadow( 1px 1px 1px
      rgba(255, 255, 255, 0.5));
}

#nav-logo{
    width: 20px;
    height: 20px;
    background-image: url("../Imagens/logo-apple.png");
    background-repeat: no-repeat;

    transition: background-image;
    transition-duration: 1s;
}

#nav-logo:hover{
    width: 20px;
    height: 20px;
    background-image: url("../Imagens/logo-apple-white.png");
}




        /* Menu Responsivo */

#mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media screen and (max-width:900px){
    .nav{
        padding: 1.5rem 4rem;
    }

    .item-nav{
        display: none;
    }

    #mobile-menu-icon{
        display: flex;
        position: relative;
        left: 0;
    }

    #mobile-menu-icon button{
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 0 1rem 0;
    }

    .mobile-menu .item-nav{
        display: block;
        padding: 1rem 2rem;
    }

    #img-nav{
        display: none;
    }

    .open{
        display: block;
    }

}

main {
    background-color: var(--branco-fundo);
}

/*
.unicef{
    display: flex;
    background-color: #F5F5F7;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.unicef > img {
    width: 120px;
    height: 27px;
}

#texto-unicef{
    color: var(--azul-texto);
    font-weight: 500;
    font-family: 'SF';
    letter-spacing: inherit;
    font-size: 14px;
    margin: 3px 0px 0px 13px;
    
}

#icon-unicef{
    color: var(--azul-texto);
}

*/

.options{
    margin: 15px 0 0 0;
    color: var(--azul-texto);
    font-family: var(--font-apple);
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
}

#iphone{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 550px;
    background-color: var(--branco-fundo);
    padding: 100px 0 0 0;
}

#iphone > h2{
    font-family: var(--font-apple);
    color: var(--preto-texto);
    font-size: 3.5em;
}

#iphone > h3{
    font-family: var(--font-apple-light);
    font-weight: 400;
    color: var(--preto-texto);
    font-size: 1.8em;
}

#iphone > section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
}

#iphone > section > p{
    margin: 0 20px 0 0;
    z-index: 1;
}

#iphone-img{
    display: flex;
    position: relative;
}

#iphone-img1{
    width: 528px;
    height: 378px;
    z-index: 0;

}

#iphone > span{
    width: 100%;
    height: 15px;
    background-color: white;
}


.new-iphone{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-color: var(--branco-fundo);
    align-items: center;
    font-family: var(--font-apple);
    padding: 0px 0 2em 0;
    border-bottom: 12px solid white;
}

.new-iphone h3{
    font-family: var(--font-apple);
    font-weight: 600;
    color: var(--preto-texto);
    font-size: 1.25em;
    word-spacing: -4px;
}


#iphone-se{
    font-size: 0.45em;
    font-family: var(--font-apple-bold);
    padding: 3px 3px 3px 3px;
    border: 0.2em solid var(--preto-texto);
    border-radius: 0.45em;
    position: relative;
    bottom: 8px;
}

#new-iphone-img{
    width: 790px;
    height: 308px;
    margin: 30px 0 0 0;

}

.new-iphone > h2 {
    font-family: var(--font-apple);
    color: var(--preto-texto);
    font-size: 3.45em;
}

.new-iphone > p{
    font-family: var(--font-apple-light);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    color: var(--preto-texto);
    font-size: 1.7em;
    letter-spacing: -1.5px;
}

.new-iphone > section{
    display: flex;
    flex-direction: row;

}

.new-iphone > section > p{
    margin: 0.3em 2em 0 0;
}

#mosaico{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    width: 97.9vw;
    height: 560px;
    border-bottom: 12px solid white;
    border-left: 12px solid white;
}


#studio-display{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: var(--branco-fundo);
    justify-content: center;
    align-items: center;
    border-right: 12px solid white;
    padding: 30px 0 0 0;
}

#studio-display > img{
    width: 450px;
    height: 346px;
    margin: 50px 0 0 0;

}

#studio-display > h2{
    font-family: var(--font-apple-bold);
    color: #1D1D1F;
    font-size: 40px;
    font-weight: 500;

}

#studio-display > h3{
    font-family: var(--font-apple);
    color: #1D1D1F;
    font-size: 20px;
    font-weight: 100;

}

#studio-display > div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#studio-display > div > p{
    margin: 15px 0 0 20px;
}

#ipad {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 1;
    border-right: 12px solid white;
    padding: 30px 0 0 0;
}

#ipad-img{
    width: 340px;
    height: 356px;
    margin: 13px 0 0 0;
    z-index: 0;

    transition-property: all;
    transition-duration: 10s;
    transition-timing-function: ease;
    transition-delay: 0.3s;
}

#ipad-img:hover{
    transform: rotate(360deg);
}

#ipad > h2 {
    color: white;
    z-index: 1;
    justify-content: center;
    font-family: var(--font-apple);
    font-size: 40px;
    font-weight: 300;
    position: relative;
    top: -30px;   
}

#ipad > h2 > span {
    color: white;
    z-index: 1;
    justify-content: center;
    position: relative;
    font-family: var(--font-apple-light-italic);
    font-size: 40px;
    background: -webkit-linear-gradient(#46388d, #eee );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ipad > h3 {
    color: white;
    z-index: 1;
    justify-content: center;
    font-family: var(--font-apple);
    font-size: 20px;
    font-weight: 100;
    position: relative;
    top: -20px;

}

#ipad > div {
    margin: 0 0 10px 0;
}

#ipad > div > p{
    margin: 0 20px 0 0;
}



.row2{
    display: flex;
    flex-direction: row;
    width: 97.9vw;
    height: 560px;
    border-bottom: 12px solid white;
    border-left: 12px solid white;
}

#fit-apple{
    width: 50%;
    height: auto;
    border-right: 12px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6E6E6;
    padding: 40px 0 0 0;
}

#fit-apple > img{
    width: 450px;
    height: 382px;
    
}

#fit-apple > h2{
    font-family: var(--font-apple);
    font-size: 40px;
    font-weight: 600;
}

#fit-apple > p{
    font-family: var(--font-apple);
    color: #1D1D1F;
    font-size: 20px;
    font-weight: 100;
    word-wrap: 

}

#fit-apple > div{
margin: 10px 0 0 10px;
}

#fit-apple > div > p{
margin: 0 20px 0 0;
}


#apple-watch{
    width: 50%;
    height: auto;
    background-color: #F4F4F6;
    border-right: 12px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0 0 0;

}

#apple-watch-img1 {
    width: 450px;
    height: 364px;
    margin: 5px 0 0 0;
}


#apple-watch > h2 {
    font-size: 36px;
    font-family: var(--font-apple-bold);
    color: #1D1D1F;
}

#apple-watch > h3 {
    font-family: var(--font-apple);
    color: #1D1D1F;
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0 0 0;
}

#apple-watch > h4 {
    font-size: 16px;
    font-family: var(--font-apple-bold);
    color: #CC2127;
    font-weight: 200;
}

#apple-watch > div {
    margin: 10px 0 0 10px;
}

#apple-watch > div > p{
    margin: 0 20px 0 0;
}

.row3{
    display: flex;
    flex-direction: row;
    width: 97.9vw;
    height: 560px;
    border-bottom: 12px solid white;
    border-left: 12px solid white;
}

#WWDC{
    width: 50%;
    height: auto;
    border-right: 12px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 40px 0 0 0;
}

#WWDC > h2{
    color: #c6e1e6;
    justify-content: center;
    font-family: var(--font-apple);
    font-size: 40px;
    font-weight: 600;
    position: relative;
    top: -30px;
}

#WWDC > p{
    color: #c6e1e6;
    justify-content: center;
    font-family: var(--font-apple-light);
    font-size: 1.35em;
    font-weight: 500;
    position: relative;
    top: -30px;
}

#WWDC > img{
    width: 657px;
    height: 365px;
    image-resolution: 500dpi;
    position: relative;
    top: -38px;
    object-fit: contain;
}

#WWDC > div {
    color: var(--azul-texto);
    font-family: var(--font-apple-light);
    font-size: 1.1em;
    position: relative;
    top: -35px;
   
}