* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

html{
    /* 1 rem equivale a 10px */
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

table{
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

@font-face {
    font-family: 'SFPRO';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('truetype');
  }

  @font-face {
    font-family: 'SFPROBOLD';
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('truetype');
  }
  
  @font-face {
    font-family: 'SFPROLIGHTITALIC';
    src: url('../fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('truetype');
  }

  @font-face {
    font-family: 'SFPROMEDIUM';
    src: url('../fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype');
  }

@font-face {
    font-family: "SFPRODISPLAYULTRALIGHTITALIC";
    src: url('../fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('truetype');
}

@font-face {
    font-family: "SFPRODISPLAYLIGHT";
    src: url('../fonts/SFPRODISPLAYLIGHT.ttf') format('truetype');
}

:root{
    --azul-texto: #1777d8;
    --preto-texto: #1d1d1f;
    --branco-fundo: #FBFBFD;

    --font-family: 'Source Sans Pro', sans-serif;
    --font-apple: 'SFPRO', sans-serif;
    --font-apple-bold: 'SFPROBOLD', sans-serif;
    --font-apple-light-italic: 'SFPROLIGHTITALIC', sans-serif;
    --font-apple-medium: 'SFPROMEDIUM', sans-serif;
    --font-apple-ultra-light-italic: 'SFPRODISPLAYULTRALIGHTITALIC', sans-serif;
    --font-apple-light: 'SFPRODISPLAYLIGHT', sans-serif;
    
}

/* Desktop Nav */

.nav-container {
    background: rgba(0, 0, 0, 0.8);
    height: 44px;
    z-index: 300;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.nav-container nav {
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}

nav .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav .desktop-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 12.5px;
    font-family: var(--font-apple-light);
    font-weight: 200;
    opacity: 0.8;
    transition: opacity 400ms;
}

nav .desktop-nav li a:hover {
    opacity: 1;
}

.link-logo {
    background: url('../images/apple-logo-nav.svg');
    display: block;
    background-position: center;
    height: 44px;
    width: 15px;
    background-repeat: no-repeat;
}

.link-search {
    background: url('../images/search-icon.svg');
    display: block;
    background-position: center;
    background-size: 18px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

.link-bag {
    background: url('../images/bag-icon.svg');
    display: block;
    background-position: center;
    background-size: 17px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

.link-close {
    background: url('../images/close-icon.svg');
    display: block;
    background-position: center;
    background-size: 17px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

/* Search Container */

.search-container.hide {
    opacity: 0;
    pointer-events: none;
}

.search-container {
    width: 60%;
    margin: 0 auto;
    padding: 0 42px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.search-container .link-search {
    position: absolute;
    left: 12px;
    opacity: 0.5;
}

.search-container .link-close {
    position: absolute;
    top: 0;
    right: 12px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 400ms;
}

.search-container .link-close:hover {
    opacity: 0.7;
}

.search-container form {
    width: 100%;
    margin: 0 auto;
}

.search-container form input {
    width: 100%;
    height: 44px;
    border: 0;
    outline: none;
    background: transparent;
    color: #fff;
    font-family: var(--font-apple);
    font-size: 17px;
}

/* Overlay */

.overlay.show {
    position: fixed;
    background: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
}

/* Quick Links */

.search-container .quick-links {
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    padding: 16px 8px;
    border-radius: 0 0 16px 16px;
}

.search-container .quick-links h2 {
    text-transform: uppercase;
    font-size: 12px;
    color: #6e6e73;
    margin: 0 32px;
    margin-top: 10px;
}

.search-container .quick-links ul {
    list-style: none;
    margin-top: 12px;
}

.search-container .quick-links ul li a {
    display: inline-block;
    width: 100%;
    padding: 8px 50px;
    font-size: 14px;
    color: #1d1d1f;
    text-decoration: none;
    font-weight: 400;
}

.search-container .quick-links ul li a:hover {
    background: #f5f5f5;
    color: #2997ff;
    width: 89%;
}

/* Desktop Nav Animation */

.desktop-nav li {
    transition: all 400ms ease;
}

.desktop-nav.hide li {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

/* Overlay Animation */

.overlay {
    transition: all 400ms ease;
}

/* Navigation Menu Items Transition Delay */

.desktop-nav li:nth-of-type(1),
.desktop-nav.hide li:nth-of-type(10) {
    transition-delay: 0ms;
}

.desktop-nav li:nth-of-type(2),
.desktop-nav.hide li:nth-of-type(9) {
    transition-delay: 30ms;
}

.desktop-nav li:nth-of-type(3),
.desktop-nav.hide li:nth-of-type(8) {
    transition-delay: 60ms;
}

.desktop-nav li:nth-of-type(4),
.desktop-nav.hide li:nth-of-type(7) {
    transition-delay: 90ms;
}

.desktop-nav li:nth-of-type(5),
.desktop-nav.hide li:nth-of-type(6) {
    transition-delay: 120ms;
}

.desktop-nav li:nth-of-type(6),
.desktop-nav.hide li:nth-of-type(5) {
    transition-delay: 150ms;
}

.desktop-nav li:nth-of-type(7),
.desktop-nav.hide li:nth-of-type(4) {
    transition-delay: 180ms;
}

.desktop-nav li:nth-of-type(8),
.desktop-nav.hide li:nth-of-type(3) {
    transition-delay: 210ms;
}

.desktop-nav li:nth-of-type(9),
.desktop-nav.hide li:nth-of-type(2) {
    transition-delay: 240ms;
}

.desktop-nav li:nth-of-type(10),
.desktop-nav.hide li:nth-of-type(1) {
    transition-delay: 270ms;
}

/* Search Container Animation */

.search-container form,
.search-container .link-search {
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease;
    transition-delay: 300ms;
}

.search-container.hide form,
.search-container.hide .link-search {
    opacity: 0;
    transform: translateX(50px);
}

.search-container .link-search {
    opacity: 0.6;
}

.search-container.hide .link-close {
    opacity: 0;
}

.search-container .link-close {
    opacity: 0.5;
    transition: all 400ms ease;
    transition-delay: 400ms;
}

.search-container.hide .quick-links h2 {
    opacity: 0;
    transform: translateX(50px);
}

.search-container .quick-links h2 {
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease;
    transition-delay: 100ms;
}

.search-container.hide .quick-links ul li {
    transform: translateX(60px);
    opacity: 0;
}

.search-container .quick-links ul li {
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease;
}

.search-container .quick-links ul li:nth-of-type(1) {
    transition-delay: 120ms;
} 

.search-container .quick-links ul li:nth-of-type(2) {
    transition-delay: 140ms;
} 

.search-container .quick-links ul li:nth-of-type(3) {
    transition-delay: 160ms;
} 

.search-container .quick-links ul li:nth-of-type(4) {
    transition-delay: 180ms;
} 

.search-container .quick-links ul li:nth-of-type(5) {
    transition-delay: 200ms;
} 


/* Hidden Items */

.mobile-nav,
.mobile-search-container {
    display: none;
}





input,
div,
span,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* .unicef{
    display: flex;
    background-color: #F5F5F7;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.unicef > img {
    width: 120px;
    height: 27px;
}

#texto-unicef{
    color: var(--azul-texto);
    font-weight: 500;
    font-family: 'SF';
    letter-spacing: inherit;
    font-size: 14px;
    margin: 3px 0px 0px 13px;
    
}

#icon-unicef{
    color: var(--azul-texto);
} */

/* Studio Display */
#mosaico tr td:nth-child(1){
    order: 1;
}

/* Airpods*/
#mosaico tr td:nth-child(2){
    order: 4;
}

/* Fitness + */
#mosaico tr td:nth-child(3){
    order: 3;
}

/* Apple Watch */
#mosaico tr td:nth-child(4){
    order: 2;
}

/* WWDC 2022 */
#mosaico tr td:nth-child(5){
    order: 2;
}


#mosaico tr td:nth-child(6){
    order: 6;
}

.options{
    margin: 15px 0 0 0;
    color: var(--azul-texto);
    font-family: var(--font-apple);
    font-size: 2rem;
    display: flex;
    flex-direction: row;
}

/* main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
} */

/* ------------------------- Iphone Container ----------------------------*/
#iphone{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--branco-fundo);
    padding: 10rem 0 1rem 0;
}

#iphone > h2{
    font-family: var(--font-apple);
    color: var(--preto-texto);
    font-size: 5.5rem;
}

#iphone > h3{
    font-family: var(--font-apple-light);
    font-weight: 400;
    color: var(--preto-texto);
    font-size: 3rem;
}

#iphone > section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
}

#iphone > section > p{
    margin: 0 1.5rem 0 0;
    z-index: 1;
}

#iphone-img{
    display: flex;
    position: relative;
}

.iphone-img1{
    width: 528px;
    height: 378px;
    z-index: 0;
    

}

#iphone > span{
    width: 100%;
    height: 1rem;
    background-color: white;
}

/* ----------------------- New Iphone ------------------------------*/
.new-iphone{
    display: flex;
    flex-direction: column;
    background-color: var(--branco-fundo);
    align-items: center;
    font-family: var(--font-apple);
    padding: 2rem 0 1em 0;
    border-bottom: 12px solid white;
}

.new-iphone h3{
    font-family: var(--font-apple);
    font-weight: 600;
    color: var(--preto-texto);
    font-size: 2rem;
    word-spacing: -4px;
}


#iphone-se{
    font-size: 2rem;
    font-family: var(--font-apple-bold);
    padding: 3px 3px 3px 3px;
    border: 0.2em solid var(--preto-texto);
    border-radius: 0.45em;
    position: relative;
    bottom: 8px;
}

#new-iphone-img{
    width: 79rem;
    height: 30.8rem;
    margin: 30px 0 0 0;

}

/* #new-iphone-img-responsive{
    width: 40rem;
    height: 22.4rem;
} */

.new-iphone > h2 {
    font-family: var(--font-apple);
    color: var(--preto-texto);
    font-size: 5.5rem;
}

.new-iphone > p{
    font-family: var(--font-apple-light);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    color: var(--preto-texto);
    font-size: 2.5rem;
    letter-spacing: -1.5px;
}

.new-iphone > section{
    display: flex;
    flex-direction: row;

}

.new-iphone > div > p{
    margin: 1rem 2rem 0 0;
}

/*--------------------------- Ipad Container ------------------------------*/

.ipad-container{
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-bottom: 12px solid #fff;;
}

.ipad-container tr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ipad-container tr td{
    display: flex;
    flex-direction: column;
}


.ipad-logo{
    width: 22rem;
    height: 6rem;
}

 #ipad-big-img{
    width: 52.1rem;
    height: 54rem;
    margin: 0 0 0 6em;

    transition-property: all;
    transition-duration: 10s;
    transition-timing-function: ease;
    transition-delay: 0.3s;
}

#ipad-big-img:hover{
    transform: rotate(360deg);
}


.ipad-container h3 {
    color: white;
    justify-content: center;
    font-family: var(--font-apple);
    font-size: 2.5rem;
    font-weight: 100;
    margin: 0.6rem 0 0 0.2rem;

}

.ipad-container div {
    margin: 1rem 0 1rem 0;
}

.ipad-container div p{
    margin: 0 1rem 0 0;
}

/* ----------- Mosaico Container -------------------*/

.mosaico{
    display: flex;
    flex-direction: column;
    width: 97.9vw;
    height: auto;
    border-bottom: 12px solid white;
}

.mosaico tr{
    display: flex;
    flex-direction: row;
    border-bottom: 12px solid white;
    border-left: 12px solid white;
}

.mosaico tr td{
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;
    width: 50%;
    height: 90vh;
}

/* -----------------------Studio Display Container------------------- */

.studio-display{
    background-color: var(--branco-fundo);
    border-right: 12px solid white;
    padding: 3rem 0 0 0;
}

.studio-display > img{
    width: 45rem;
    height: 34.6rem;
    margin: 50px 0 0 0;

}

.studio-display > h2{
    font-family: var(--font-apple-bold);
    color: #1D1D1F;
    font-size: 4rem;
    font-weight: 500;

}

.studio-display > h3{
    font-family: var(--font-apple);
    color: #1D1D1F;
    font-size: 2.3rem;
    font-weight: 100;

}

.studio-display > div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.studio-display > div > p{
    margin: 0 0 0 2rem;
}

/* -------------- Airpad container ---------------*/

.airpods {
    background-color: #EAEAEA;
    z-index: 1;
    /* border-right: 12px solid white; */
    padding: 3rem 0 0 0;
}

.airpods img{
    width: 31rem;
    height: 42rem;
    position: relative;
    top: -3rem;
}

.airpods section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1.5rem;
}

.airpods section > h2 {
    color: var(--preto-texto);
    justify-content: center;
    font-family: var(--font-apple);
    font-size: 4rem;
    font-weight: 600;
    word-spacing: 10px;
}


.airpods section > h3 {
    color: var(--preto-texto);
    justify-content: center;
    font-family: var(--font-apple);
    font-size: 2rem;
    font-weight: 100;
}

.airpods section > div {
    margin: 1rem 0 1rem 0;
}

.airpods > section >  div > p{
    margin: 0 2rem 0 0;
}


/* ------------- FITNESS + CONTAINER -------------*/

.fit-apple{
    border-right: 12px solid white;
    background-color: #E6E6E6;
    padding: 4rem 0 0 0;
}

.fit-apple > img{
    width: 45rem;
    height: 38.2rem;
    
}

.fit-apple > h2{
    font-family: var(--font-apple);
    font-size: 4rem;
    font-weight: 600;
}

.fit-apple > p{
    font-family: var(--font-apple);
    color: #1D1D1F;
    font-size: 2.5rem;
    font-weight: 100;

}

.fit-apple > div{
margin: 1rem 0 0 1rem;
}

.fit-apple > div > p{
margin: 0 2rem 0 0;
}

/* --------------- APPLE WATCH CONTAINER ------------------------ */

.apple-watch{
    background-color: #F4F4F6;
    padding: 4rem 0 0 0;

}

.apple-watch img{
    padding: 0.7rem 0 0 0;
    width: 45rem;
    height: 42.1rem;
}


.apple-watch > h2 {
    font-size: 3.7rem;
    font-family: var(--font-apple-bold);
    color: #1D1D1F;
}

.apple-watch > h3 {
    font-family: var(--font-apple);
    color: #1D1D1F;
    font-size: 2.5rem;
    font-weight: 100;
    margin: 10px 0 0 0;
}

.apple-watch > h4 {
    font-size: 1.6rem;
    font-family: var(--font-apple-bold);
    color: #CC2127;
    font-weight: 200;
}

.apple-watch > div {
    margin: 1rem 0 0 1rem;
}

.apple-watch > div > p{
    margin: 0 2rem 0 0;
}

/* -----------------------WWDC CONTAINER --------------------*/

.WWDC{
    border-right: 12px solid white;
    background-image: linear-gradient(#252A3D,#000000,  #000000);
    padding-top: 2rem;
    width: 50%; 
    margin: 0 0 -1.5rem 0;
}

.WWDC h2{
    color: #c6e1e6;
    justify-content: center;
    font-family: var(--font-apple);
    font-size: 5rem;
    font-weight: 600;
    position: relative;
    top: -1.3px;
}

.WWDC  p{
    color: #c6e1e6;
    justify-content: center;
    font-family: var(--font-apple-light);
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    top: -1.2px;
}

.WWDC  img{
    width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
    top: -1.1em;
}

.WWDC  div  p{
    color: var(--azul-texto);
    font-family: var(--font-apple-light);
    font-size: 1.5rem;
    position: relative;
    top: -1.8px;
}


/* --------------- Watch Pride Bracelete ---------------------------*/
.watch-pride{
    background-color: #fafafa;
    padding: 2.5rem 0 0 0;
    margin: 0 0 -1.5rem 0;
    
}

.watch-pride h2{
    font-family: var(--font-apple);
    color: var(--preto-texto);
    font-size: 4rem;
    font-weight: 600;
}

.watch-pride h3{
    background: url('../images/logo_pride-watch.png');
    width: 20rem;
    height: 7.3rem;
    background-size: 20rem;
}

.watch-pride p {
    color: var(--azul-texto);
    font-family: var(--font-apple-light);
    font-weight: 500;
    font-size: 1.7rem;
}

.watch-pride > img{
    width: 55rem;
    height: 32.1rem;
    padding: 3rem 0 0 0;
}


/* ----------------------FOOTER CONTAINER --------------------------------*/
footer{
    background-color: #1D1D1F;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: -4rem 0 4rem 0;
}
footer + div{
    width: 55%;
    display: flex;
    flex-direction: column;
}

footer div p{
    color: #757575;
    margin: 1.8rem 0 0 3rem;
    align-self: flex-start;
}

footer #line-top{
    width: 80vw;
    height: 0.07rem;
    margin: 2.2rem;
    background-color: #757575;
}

footer section{
    display: flex;
    flex-direction: row;
    width: 70%;
}

footer section ul{
    color: #a09f9f;
    list-style: none;
    margin-right: 3rem;
}

footer section ul li{
    color: rgb(199, 199, 199);
    font-size: 1.4rem;
    margin: 0 0 1rem 0;
}

footer .title{
    background-color: #1D1D1F;
    text-decoration: none;
    border: none;
    color: rgb(199, 199, 199);
    font-family: var(--font-apple-bold);
}

footer .line-title{
    display: none;
}

footer section div ul{
    margin-bottom: 3rem;
}

footer #bottom-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    padding:  0 0 2rem 0;
}

footer #bottom-footer p{
    color: #757575;
    align-self: flex-start;
}

footer a{
    text-decoration: none;
    color: var(--azul-texto);
}

footer #line-bottom{
    width: 94.5rem;
    height: 0.07rem;
    background-color: #757575;
    margin: 1rem 0;
}

/* Crédito */
footer  #bottom-footer p:nth-of-type(3){
    color: #fff;
}

